comment "RTD129X Device Drivers"

menu "RTD129X Device Drivers"

config RTK_SB2_MEM_TRASH_MONITOR
	bool "Memory trash monitor"
	default n
	help
	  Enable helper functions for memory trash detection. If unsure, say N.

config RTK_RBUS_BARRIER
	bool "R-bus barrier"
	depends on RTK_MEM_REMAP
	default y
	help
	  Enable helper functions for R-bus barrier. If unsure, say N.

config RTK_MEM_REMAP
	bool "Memory remap"
	default y
	help
	  Enable helper functions for static ioremap. If unsure, say N.

config RTK_FAN
	bool "RTK Fan driver"
	default n
	help
	  Realtek Fan driver

config RTK_SW_LOCK_API
	bool "RTK SW LOCK API"
	default y
	help
	  Realtek SW LOCK API driver

config RTK_REGMAP_I2C
	bool
	select REGMAP

config UBIFS_RCVRY_HACK
	bool "Add master node recovery on out of sync cases"
	default n
	help
	Recover master node on following two cases:
	1. 2nd LEB is unmapped and more than 1 entry in 1st LEB is valid.
	2. 1st LEB is unmapped and 2nd LEB is not full.
	* On normal cases, 2nd LEB should always contain equal or one less entries than 1st LEB.

source "drivers/soc/realtek/rtd129x/rtk_ve/Kconfig"
source "drivers/soc/realtek/rtd129x/irda/Kconfig"
source "drivers/soc/realtek/rtd129x/rpc/Kconfig"
source "drivers/soc/realtek/rtd129x/hw_nat/Kconfig"
endmenu #RTD129X Device Drivers


